<template>
    <div>
        <button @click="followUser" class="btn btn-primary ml-4">
            {{ status ? "Unfollow" : "Follow" }}
        </button>
    </div>
</template>

<script>
export default {
    props: ["userId", "follows"],
    data() {
        return {
            status: this.follows
        };
    },
    methods: {
        followUser() {
            axios.post("/follow/" + this.userId).then(res => {
                console.log(res);
                this.status = !this.status;
            }).catch(error => {
                if (error.response.status == 401) {
                    window.location = '/login'
                }
            })
        }
    }
};
</script>
